node_modules
*.pdb
.pnpm-debug.log
MyKeymap
bin/site
bin/html-tools/AlignText.html
bin/html-tools/tailwind.css
bin/templates
bin/mykeymap-settings-server
bin/mykeymap-settings-server.exe
bin/settings.exe
*.7z
todo.md
.idea
MyKeymap-*/
MyKeymap.exe
