backgroundColor         = {{ if .Options.CommandInputSkin.BackgroundColor       }}{{ .Options.CommandInputSkin.BackgroundColor       }}{{ else }}#FFFFFF{{ end }}
backgroundOpacity       = {{ if .Options.CommandInputSkin.BackgroundOpacity     }}{{ .Options.CommandInputSkin.BackgroundOpacity     }}{{ else }}0.9{{ end }}
borderWidth             = {{ if .Options.CommandInputSkin.BorderWidth           }}{{ .Options.CommandInputSkin.BorderWidth           }}{{ else }}3{{ end }}
borderColor             = {{ if .Options.CommandInputSkin.BorderColor           }}{{ .Options.CommandInputSkin.BorderColor           }}{{ else }}#FFFFFF{{ end }}
borderOpacity           = {{ if .Options.CommandInputSkin.BorderOpacity         }}{{ .Options.CommandInputSkin.BorderOpacity         }}{{ else }}1.0{{ end }}
borderRadius            = {{ if .Options.CommandInputSkin.BorderRadius          }}{{ .Options.CommandInputSkin.BorderRadius          }}{{ else }}10{{ end }}
cornerColor             = {{ if .Options.CommandInputSkin.CornerColor           }}{{ .Options.CommandInputSkin.CornerColor           }}{{ else }}#000000{{ end }}
cornerOpacity           = {{ if .Options.CommandInputSkin.CornerOpacity         }}{{ .Options.CommandInputSkin.CornerOpacity         }}{{ else }}0.0{{ end }}
gridlineColor           = {{ if .Options.CommandInputSkin.GridlineColor         }}{{ .Options.CommandInputSkin.GridlineColor         }}{{ else }}#2843AD{{ end }}
gridlineOpacity         = {{ if .Options.CommandInputSkin.GridlineOpacity       }}{{ .Options.CommandInputSkin.GridlineOpacity       }}{{ else }}0.04{{ end }}
keyColor                = {{ if .Options.CommandInputSkin.KeyColor              }}{{ .Options.CommandInputSkin.KeyColor              }}{{ else }}#000000{{ end }}
keyOpacity              = {{ if .Options.CommandInputSkin.KeyOpacity            }}{{ .Options.CommandInputSkin.KeyOpacity            }}{{ else }}1.0{{ end }}
hideAnimationDuration   = {{ if .Options.CommandInputSkin.HideAnimationDuration }}{{ .Options.CommandInputSkin.HideAnimationDuration }}{{ else }}0.34{{ end }}
windowYPos              = {{ if .Options.CommandInputSkin.WindowYPos            }}{{ .Options.CommandInputSkin.WindowYPos            }}{{ else }}0.25{{ end }}
windowWidth             = {{ if .Options.CommandInputSkin.WindowWidth           }}{{ .Options.CommandInputSkin.WindowWidth           }}{{ else }}700{{ end }}
windowShadowColor       = {{ if .Options.CommandInputSkin.WindowShadowColor     }}{{ .Options.CommandInputSkin.WindowShadowColor     }}{{ else }}#000000{{ end }}
windowShadowOpacity     = {{ if .Options.CommandInputSkin.WindowShadowOpacity   }}{{ .Options.CommandInputSkin.WindowShadowOpacity   }}{{ else }}0.5{{ end }}
windowShadowSize        = {{ if .Options.CommandInputSkin.WindowShadowSize      }}{{ .Options.CommandInputSkin.WindowShadowSize      }}{{ else }}3.0{{ end }}