/* 因为关掉了 tailwind 的 preflight,  所以少了某些依赖样式,  这里补上 */

.tailwind-scope * {
  border-width: 0;
  border-style: solid;
}

.tailwind-scope table {
  border-collapse: collapse;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::-webkit-backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}

.tailwind-scope .fixed {
  position: fixed;
}

.tailwind-scope .m-6 {
  margin: 1.5rem;
}

.tailwind-scope .my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.tailwind-scope .mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.tailwind-scope .mb-4 {
  margin-bottom: 1rem;
}

.tailwind-scope .mb-3 {
  margin-bottom: 0.75rem;
}

.tailwind-scope .mb-5 {
  margin-bottom: 1.25rem;
}

.tailwind-scope .ml-60 {
  margin-left: 15rem;
}

.tailwind-scope .ml-3 {
  margin-left: 0.75rem;
}

.tailwind-scope .mt-2 {
  margin-top: 0.5rem;
}

.tailwind-scope .ml-5 {
  margin-left: 1.25rem;
}

.tailwind-scope .block {
  display: block;
}

.tailwind-scope .flex {
  display: flex;
}

.tailwind-scope .table {
  display: table;
}

.tailwind-scope .h-full {
  height: 100%;
}

.tailwind-scope .max-h-80 {
  max-height: 20rem;
}

.tailwind-scope .w-full {
  width: 100%;
}

.tailwind-scope .w-96 {
  width: 24rem;
}

.tailwind-scope .w-60 {
  width: 15rem;
}

.tailwind-scope .min-w-full {
  min-width: 100%;
}

.tailwind-scope .flex-row {
  flex-direction: row;
}

.tailwind-scope .flex-col {
  flex-direction: column;
}

.tailwind-scope .flex-wrap {
  flex-wrap: wrap;
}

.tailwind-scope .divide-y > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}

.tailwind-scope .divide-gray-100 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(243 244 246 / var(--tw-divide-opacity));
}

.tailwind-scope .overflow-x-hidden {
  overflow-x: hidden;
}

.tailwind-scope .whitespace-nowrap {
  white-space: nowrap;
}

.tailwind-scope .rounded {
  border-radius: 0.25rem;
}

.tailwind-scope .border {
  border-width: 1px;
}

.tailwind-scope .border-r {
  border-right-width: 1px;
}

.tailwind-scope .border-gray-400 {
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity));
}

.tailwind-scope .bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.tailwind-scope .bg-blue-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(219 234 254 / var(--tw-bg-opacity));
}

.tailwind-scope .bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

.tailwind-scope .p-2 {
  padding: 0.5rem;
}

.tailwind-scope .px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.tailwind-scope .py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.tailwind-scope .px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.tailwind-scope .py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.tailwind-scope .py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.tailwind-scope .px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.tailwind-scope .pl-1 {
  padding-left: 0.25rem;
}

.tailwind-scope .pl-6 {
  padding-left: 1.5rem;
}

.tailwind-scope .text-left {
  text-align: left;
}

.tailwind-scope .text-center {
  text-align: center;
}

.tailwind-scope .align-middle {
  vertical-align: middle;
}

.tailwind-scope .text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.tailwind-scope .text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.tailwind-scope .text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.tailwind-scope .font-bold {
  font-weight: 700;
}

.tailwind-scope .uppercase {
  text-transform: uppercase;
}

.tailwind-scope .tracking-wider {
  letter-spacing: 0.05em;
}

.tailwind-scope .text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.tailwind-scope .text-\[\#0d7a79\] {
  --tw-text-opacity: 1;
  color: rgb(13 122 121 / var(--tw-text-opacity));
}

.tailwind-scope .text-\[\#d05\] {
  --tw-text-opacity: 1;
  color: rgb(221 0 85 / var(--tw-text-opacity));
}

.tailwind-scope .text-gray-700 {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

.tailwind-scope .text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}

.tailwind-scope .text-blue-500 {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

.tailwind-scope .shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.tailwind-scope .shadow-neutral-400 {
  --tw-shadow-color: #a3a3a3;
  --tw-shadow: var(--tw-shadow-colored);
}

.tailwind-scope .filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.tailwind-scope .hover\:cursor-pointer:hover {
  cursor: pointer;
}

.tailwind-scope .focus\:outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.tailwind-scope .focus\:ring:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.tailwind-scope .focus\:ring-blue-500:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity));
}
